---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- {{ content }} -->

  {% for post in paginator.posts %}


  <article>

    <h2 class="entry-title">
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </h2>

    <div class="blog-post">
      <div class="blog-post-subheader">
        <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>

        {% if post.categories.size != 0 %}
        |
        <span class="categories">
          分类
          {% for cat in post.categories %}
          <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
          {% endfor %}
        </span>
        {% endif %}
        {% if post.tags.size != 0 %}
        |
        <span class="tags">
          标签
          {% for tag in post.tags %}
          <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
          {% endfor %}
        </span>
        {% endif %}

      </div>
      <div class="blog-post-content">
        {{ post.excerpt |  strip_html | truncate: 500 }} &raquo;
      </div>

    </div>


    <a href="{{ post.url }}">read more...</a>

  </article>

  {% endfor %}

  <div id="post-pagination" class="paginator">

    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/"><前页</a>
                  {% else %}
                  <a href="/page{{paginator.previous_page}}">&lt;前页</a>
                  {% endif %}
                  {% else %}
                  <span class="previous disabled">&lt;前页</span>
                  {% endif %}

                  {% if paginator.page == 1 %}
                  <span class="current-page">1</span>
                  {% else %}
                  <a href="/">1</a>
                  {% endif %}

                  {% for count in (2..paginator.total_pages) %}
                  {% if count == paginator.page %}
                  <span class="current-page">{{count}}</span>
                  {% else %}
                  <a href="/page{{count}}">{{count}}</a>
                  {% endif %}
                  {% endfor %}

                  {% if paginator.next_page %}
                  <a class="next" href="/page{{paginator.next_page}}">后页&gt;</a>
                  {% else %}
                  <span class="next disabled" >后页&gt;</span>
                  {% endif %}
                  (共{{ paginator.total_posts }}篇)
  </div>

</div>
