@font-face {
  font-family: 'icomoon';
  src:url('../assets/icon/icomoon.eot?-oxan25');
  src:url('../assets/icon/icomoon.eot?#iefix-oxan25') format('embedded-opentype'),
    url('../assets/icon/icomoon.woff?-oxan25') format('woff'),
    url('../assets/icon/icomoon.ttf?-oxan25') format('truetype'),
    url('../assets/icon/icomoon.svg?-oxan25#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


%icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// icons

.icon-home2 {
  content: "\e901";
}

%icon-quote {
  content: "\e977";
}

%icon-quote-left {
  content: "\e977";
}
%icon-quote-right {
  content: "\e978";
}

%icon-search {
  content: "\e986";
}

%icon-tag {
  content: "\e935";
}

%icon-bullet {
  content: "\ea42";
}

%icon-menu {
  content: "\e9bd";
}

%icon-mail {
  content: "\ea86";
}

%icon-feed {
  content: "\ea9b";
}

%icon-github {
  content: "\eab0";
}

%icon-date {
  content: "\e94e";
}