
#menu
  margin-right: 4ex
  right: 30px
  z-index: 300
  height: 42px
  background: transparent
  border: none
  outline: none
  overflow: hidden
  position: absolute
  top: 1rem
  left: 1rem
  width: 2.2rem
  padding: .5rem .65rem
  color: #6DD
  border-radius: 4px
  cursor: pointer

  &-icons
    display: block
    width: 200%
    height: 42px
    margin-left: -100%
    @extend %icon
    font-size: 24px
    line-height: 42px
    color: #fff
    background: $sidebar-bg
    overflow: hidden
    transition: transform .35s $time-function
    &:before
      @extend %icon-left
      float: left
      width: 50%
    &:after
      @extend %icon-right
      float: left
      width: 50%
  &.open > &-icons
    transform: translateX(50%)
