body {
    background-color: #EDF1F3;
}

code {
    font-size: 14px;
}

#sidebar {}
.container {
    margin-right: 36px;
}
    #sidebar {
        float: left;
        padding-top: 0;
        width: 180px;
        font-size: 11px;
        overflow: hidden;
        color: #4b4b4b;
        text-shadow: #fff 0 1px;
    }
#sidebar a.home,
#sidebar a.home:visited {
    text-decoration: none;
    color: #888;
}
#sidebar a.home:hover {
    color: #469;
}
#sidebar h2 {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing:-1px;
    text-align: right;
    margin-top: 17px;
    margin-bottom:0;
}

#sidebar img#avatar {
    width: 100%;
}

#sidebar #nav {
    list-style-type:none;
    margin-top:20px;
    border-top:1px solid #ccc;
    text-align:right;
    font-weight: bolder;
    font-size:13px;
    color: #555;
}
#sidebar #nav li {
    margin:0;
    border-bottom: 1px solid #ddd;
    padding:4px 0;
}
#sidebar #nav li a, #sidebar #nav li a:visited {
                        color: #369;
                        text-decoration: none;
                    }
#sidebar #nav li a:hover {
    color: #444;
}
#sidebar #socialmedia {
    text-align: center;
}

#main-content {
}

#main-content h1.primary,
#main-content h1.primary {
    font-family: "Helvetica Neue";
    font-size: 34px;
    font-weight: bolder;
    letter-spacing:-1px;
    margin:0;
    margin-top:20px;
    line-height: 30px;
    width: 600px;
    color: #444;
}
#main-content .post h1.primary a {
    color: #369;
    text-decoration:none;
}
#main-content .post h1.primary a:hover {
    color: #444;
}
#main-content hr {
    border:0;
    border-bottom: 1px solid #ccc;
}

#main-content #article-list {
    list-style-type:none;
    margin-top:5px;
}

#main-content #article-list li {
    margin:0;
    border-bottom: 1px dotted #999;
    padding: 8px 0;
    font-size:14px;
}

#main-content #article-list li p.date {
    float: right;
    padding: 0;
    margin: 0;
    color: #999;
}
#main-content #article-list li p.title {
    float:left;
    padding:0;
    margin:0;
}
#main-content #article-list li p.title a, #main-content #article-list li p.title a:visited {
                                              color:#369;
                                              text-decoration:none;
                                          }
#main-content #article-list li p.title a:hover {
    color:#333;
}

#main-content .post {
    text-align: justify;
    font-size: 18px;
    color: #333;
    font-family: serif;
}
#main-content .post h3 {
    font-family: "Helvetica Neue";
    font-weight: bolder;
    letter-spacing: -1px;
    font-size: 29px;
    line-height: 29px;
    margin-bottom: 16px;
    color: #333;
    border-bottom: 1px solid #ccc;
}

#main-content .post .date {
    text-align:right;
    font-family: "Helvetica Neue";
    letter-spacing: -1px;
    font-size: 15px;
    font-weight: bolder;
    float: right;
    color: #999;
    border: none;
    margin-top: -42px;
}

#main-content .post blockquote {
    border-left: 2px solid #999;
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#main-content .post pre {
    font-size: 12px;
    padding: 15px 15px;
}

#main-content .post .center {
    text-align: center;
}

#main-content .post a,
#main-content .post a:visited {
    color: #469;
}
#main-content .post a:hover {
    text-decoration: none;
}

#main-content .copyright {
    text-align: center;
    margin-bottom: 20px;
    color: #999;
}

#footer p {
    margin: 5px 0;
    padding:0;
}

ul ul {
    margin-bottom:0;
}

body .container_24 #main-content .gist .gist-file .gist-meta {
    font-size: 10px !imporant;
}

.gist {
    font-size: 12px;
}

.gist .gist-data.gist-syntax table.lines {
    margin-bottom:0 !important;
}

.span4 {
    font-size: 10px;
    float: right;
}