html {
  margin: 0;
  font-family: "Lato", "Helvetica Neue",Verdana, Arial,  sans-serif;
  background-color: white;
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: white;
}

body {
  font-family: 'Lora', sans-serif;
  margin: auto;
  max-width: 55em;
}

#page-title {
  text-align: center;
}

#page-title h1 a {
  color: black;
  font-size: 2.7rem;
}

/* Front page listing */
.post a {
  color: black;
}

.blog-post-content a {
  color: black;
  text-decoration: underline;
}

#author-name h6 a {
  color: black;
  font-weight: normal;
  font-size: small;
}

#page-title a:hover, .post a:hover {
  text-decoration: underline;
}

.date-time-title {
  font-family: 'Lora', monospace;
}

.blog-post-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.posts_listing li {
  list-style-type: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4  {
  font-size: 1.2rem;
}

h5  {
  font-size: 1rem;
}

h6  {
  font-size: 0.8rem;
}


code {
  font-family: 'Inconsolata', monospace;
  /* background-color: white; */
  font-size: 1rem;
  white-space: pre;
  overflow-x: auto;
}

pre {
  overflow-x: auto;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid lighten(#111, 90);
  background-color: #efefef
}

.word {
  text-align: right;
  color: black;
  font-style: italic;
}
.blog-post-subheader{
  font-size: 0.9em;
}



/* TOC */

#table-of-contents {
  font-size: 11pt;
  /* position: fixed; */
  /* right: 0em; */
  /* top: 0em; */
  /* background: white; */
  /* -webkit-box-shadow: 0 0 1em #777777; */
  /* -moz-box-shadow: 0 0 1em #777777; */
  /* -webkit-border-bottom-left-radius: 5px; */
  /* -moz-border-radius-bottomleft: 5px; */
  /* text-align: right; */
  display: block;

  /* ensure doesn't flow off the screen when expanded */
  max-height: 80%;
  /* overflow: auto; */
  /* z-index: 200; */
  margin-bottom:18px;
}

#table-of-contents a {
  text-decoration: none;
}

a {
  color: #4e6584;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: #309E85;
  text-decoration: underline;
  font-weight: 400;
}

a:visited {
  text-decoration: none;
  font-weight: 400;
}


#table-of-contents h2 {
  font-size: 13pt;
  border: 0;
  font-weight: normal;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.85em;
  padding-bottom: 1.1em;
}

#table-of-contents ul {
  margin-left: 14pt;
  margin-bottom: 10pt;
  padding: 0
}

#table-of-contents li {
  padding: 0;
  margin: 1px;
  list-style: none;
}

#table-of-contents ul>:first-child {
  color: blue;
}

#table-of-contents #text-table-of-contents {
  padding: 0.5em;
  display: block;
  text-align: left;
  margin-top: -1.5em;
}

article {
  display: block;
  padding-bottom: 20px;
}

a:any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}


body #content {
  padding-top: 0px;
  max-width: 80%;
  min-width: 700px;
  margin-left: 20px;
  padding: 2em;
  color: #555;
}

body .title {
  margin-left: 0px;
  font-size: 22pt;
}

h1 {
  font-size:2.1em;
  padding:0 0 30px 0;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  margin-right: 7%;
  /*    color: #6C5D4F; */
  color: grey;
}

h2 {
  font-family: sans-serif;
  font-size: 1.45em;
  padding: 0;
  margin: 0;
  outline: none;
  line-height: 16px;
  padding: 10px 0 10px 0;
  margin-bottom: 0.2em;
  color: black;
  border-bottom: 1px solid #ddd;
}

.outline-text-2 {
  margin-left: 0.1em
}

h3 {
  font-family:sans-serif;
  font-size:1.3em;
  color: grey;
  margin-left: 0.6em;
}

.outline-text-3 {
  margin-left: 0.9em;
}

h4 {
  font-family:sans-serif;
  font-size:1.2em;
  margin-left: 1.2em;
  color: #A5573E;
}

.outline-text-4 {
  margin-left: 1.45em;
}

h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}


hr {
  margin: .7em 0;
  border-top: 1px dashed #d0d0d0;
  border-bottom: 1px dashed #f9f9f9;
}

a {
  color: #4e6584;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: #309E85;
  text-decoration: underline;
  font-weight: 400;
}

a:visited {
  text-decoration: none;
  font-weight: 400;
}

.todo {
  color: #CA0000;
}

.done {
  color: #006666;
}

.timestamp-kwd {
  color: #444;
}

.tag {

}


table {
  padding:0px;
  width: 80%;
  margin-left: -2px;
  margin-right: -2px;
}

table.bodyTable th, table.bodyTable td {
  padding: 2px 4px 2px 4px;
  vertical-align: top;
}


p {
  padding: .5em 0;
}

li {
  margin: .4em;
}

ol,ul {
  list-style-position: inside;
}

ol ul, ul ol, ul ul, ol ol {
  margin-left: 1em;
}


img {
  border: none;
  max-width: 900px;
  /* display: block; */
  margin: 4px auto;
  -webkit-box-shadow: #999 1px 1px 4px;
  -moz-box-shadow: #999 1px 1px 4px;
  box-shadow: #999 1px 1px 4px;

}

.share img {
  opacity: .4;
  -moz-opacity: .4;
  filter: alpha(opacity=40);
}

.share img:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

blockquote {
  display: block;
  text-align: justify;
  border-left: 4px solid #eeeeee;
}

blockquote {
  margin: 1em 0em;
  padding-left: 1.5em;
}

blockquote p {
  margin: 0;
  padding: .5em 0;
}

#container {
  display: block;
  padding: 0 2em;
}

#tag_cloud {
  margin-bottom: 1em;
}

#tag_cloud a:hover {
  color: #333333 !important;
  text-decoration: none;
}

.listing-item,.listing-seperator {
  list-style-type: none;
}

.listing-item a {
  padding: .2em 1em;
}

.listing-item time {
  color: #999999;
}

.listing-seperator {
  font-weight: bold;
}

.meta {
  font-size: 12px;
  color: #888;
  padding-bottom: 1em;
}

.pageNav {
  font-weight: bold;
  font-size: 17px;
}

.pageNavInvalid {
  font-weight: bold;
  font-size: 17px;
  color: #D0D0D0;
}

header {
  /* padding-top: 1em; */
  margin-bottom: -1.2em;
  margin-top: -1.2em;
}


.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
}


.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar {
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}
header {
  /* padding-top: 1em; */
  margin-bottom: -1.2em;
  margin-top: -1.2em;
}

nav {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

nav a {
  padding: .7em 1em;
  color: #000000;
}

nav a:hover {
  background-color: #309E85;
  text-decoration: none;
  color: #f9f9f9;
  -webkit-transition: color .2s linear;
}

.post {
  padding: .5em 0em;
}



embed,object,iframe {
  display: block;
  margin: 4px auto;
}

.gist {
  font-size: 12px;
  line-height: 1.6;
}

footer {
  text-align: center;
  display: block;
  border-top: 1px dashed #CCC;
}

footer small {
  font-size: 13px;
  color: #AAA;
}

footer a {
  color: #888;
  text-decoration: none;
}

footer a:hover {
  border-bottom: 1px dashed #BBB;
  text-decoration: none;
}

.label {
  font-size: 11.25px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 1px 3px 2px;
}

.label-important {
  background-color: #b94a48;
}

.label-warning {
  background-color: #f89406;
}

.label-success {
  background-color: #468847;
}

.label-info {
  background-color: #3a87ad;
}

.paginator {
  font: 14px Arial,Helvetica,sans-serif;
  color: #AAA;
  margin: 20px 0;
  line-height: 150%;
  display: block;
}

.paginator a,.paginator span {
  padding: 0 4px;
  margin: 2px;
  text-decoration: none;
}

.paginator .current-page {
  color: white;
  background: #ff0000;
}

.paginator a:hover {
  color: white;
  background: #83BF73;
}
pre {
  font-family: Droid Sans Mono, Monaco, Consolas, "Lucida Console", monospace;
  font-size: 85%;
  padding: 1.2em;
  overflow: auto;

  line-height: 1.3;
  margin: 1.2em;
  font-weight: 100;
  background-color:#2e3436;
  box-shadow: 5px 5px 5px #888;
  border: none;
  margin-bottom: 10pt;
  color: white;
}

code {
  font-size: 100%;
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}


pre.src {
  position: relative;
  overflow: visible;
  padding-top: 1.2em;
  color:#fefffe;
}

pre.src:before {
  display: inline;
  position: absolute;
  background-color: black;
  top: -10px;
  right: 10px;
  padding: 3px;
  border: 1px solid black;
  visible: true;
}

pre.src:before {content: none}
pre.src[id]:before {content: attr(id);}

pre.src:hover:before {
  display: inline;
}

pre.a {
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: inherit;
}
pre.a:hover {
  text-decoration: underline;
}

pre.src-sh:before    {
  content: 'sh';
}

pre.src-bash:before  {
  content: 'sh';
}

pre.src-emacs-lisp:before {
  content: 'emacs lisp';
}

pre.src-R:before     {
  content: 'r';
}

pre.src-perl:before  {
  content: 'perl';
}

pre.src-java:before  {
  content: 'java';
}

pre.src-sql:before   {
  content: 'sql';
}

pre.src-conf:before   {
  content: 'conf';
}

pre.src-c:before   {
  content: 'c';
}

pre.src-c++:before   {
  content: 'c++';
}

.code-highlighted {
  background-color: #ffff00;
}

.ag-quote {
  color: #999;
  cursor: row-resize;
  margin-bottom: -1em;
  overflow: hidden;
}

#show_source {margin: 0; padding: 0;}

#postamble {
  font-size: 75%;
  min-width: 700px;
  max-width: 80%;
  margin-left: 20px;
  margin-top: 10px;
  padding: .2em;
  border: 1px solid gray;
  background-color: #ffffff;
  z-index: -1000;
}

.org-src-container {
  font-size: 90%;
  font-family: monospace;

  caption t-above {
    caption-side: top;
  }

  caption t-bottom {
    caption-side: bottom;
  }

  td, th {
    vertical-align:top;
  }

  th.right  {
    text-align: center;
  }

  th.left   {
    text-align: center;
  }

  th.center {
    text-align: center;
  }

  td.right  {
    text-align: right;
  }

  td.left   {
    text-align: left;
  }

  td.center {
    text-align: center;
  }

  dt {
    font-weight: bold;
  }

  .footpara:nth-child(2) {
    display: inline;
  }

  .footpara {
    display: block;
  }

  .footdef  {
    margin-bottom: 1em;
  }

  .figure {
    padding: 1em;
  }

  .figure p {
    text-align: center;
  }

  .inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
  }

  #org-div-home-and-up{
	position: fixed;
	right: 0;
	top: 4em;
  }

  textarea {
    overflow-x: auto;
  }

  .linenr {
    font-size: smaller }



  #outline-container-introduction{
    clear:both;
  }

}


/* Styles for org-info.js */

.org-info-js_info-navigation {
  border-style: none;
}

#org-info-js_console-label {
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
}

.org-info-js_search-highlight {
  background-color: #ffff00;
  color: #000000;
  font-weight: bold;
}

#org-info-js-window {
  border-bottom:1px solid black;
  padding-bottom:10px;
  margin-bottom:10px;
}

.org-info-search-highlight {
  background-color:#adefef; /* same color as emacs default */
  color:#000000;
  font-weight:bold;
}

.builtin {
  /* font-lock-builtin-face */
  color: #f4a460;
}
.comment {
  /* font-lock-comment-face */
  color: #737373;
}
.comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #666666;
}
.constant {
  /* font-lock-constant-face */
  color: #db7093;
}
.doc {
  /* font-lock-doc-face */
  color: #b3b3b3;
}
.function-name {
  /* font-lock-function-name-face */
  color: #5f9ea0;
}
.headline {
  /* headline-face */
  color: #ffffff;
  background-color: #000000;
  font-weight: bold;
}
.keyword {
  /* font-lock-keyword-face */
  color: #4682b4;
}
.negation-char {
}
.regexp-grouping-backslash {
}
.regexp-grouping-construct {
}
.string {
  /* font-lock-string-face */
  color: #ccc79a;
}
.todo-comment {
  /* todo-comment-face */
  color: #ffffff;
  background-color: #000000;
  font-weight: bold;
}
.variable-name {
  /* font-lock-variable-name-face */
  color: #ff6a6a;
}
.warning {
  /* font-lock-warning-face */
  color: #ffffff;
  background-color: #cd5c5c;
  font-weight: bold;
}

.org-bbdb-company {
  /* bbdb-company */
  font-style: italic;
}
.org-bbdb-field-name {
}
.org-bbdb-field-value {
}
.org-bbdb-name {
  /* bbdb-name */
  text-decoration: underline;
}
.org-bold {
  /* bold */
  font-weight: bold;
}
.org-bold-italic {
  /* bold-italic */
  font-weight: bold;
  font-style: italic;
}
.org-border {
  /* border */
  background-color: #000000;
}
.org-buffer-menu-buffer {
  /* buffer-menu-buffer */
  font-weight: bold;
}
.org-builtin {
  /* font-lock-builtin-face */
  color: #da70d6;
}
.org-button {
  /* button */
  text-decoration: underline;
}
.org-c-nonbreakable-space {
  /* c-nonbreakable-space-face */
  background-color: #ff0000;
  font-weight: bold;
}
.org-calendar-today {
  /* calendar-today */
  text-decoration: underline;
}
.org-comment {
  /* font-lock-comment-face */
  color: #b22222;
}
.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #b22222;
}

.org-constant {
  /* font-lock-constant-face */
  color: #5f9ea0;
}
.org-cursor {
  /* cursor */
  background-color: #000000;
}
.org-default {
  /* default */
  color: #000000;
  background-color: #ffffff;
}
.org-diary {
  /* diary */
  color: #ff0000;
}
.org-doc {
  /* font-lock-doc-face */
  color: #bc8f8f;
}
.org-escape-glyph {
  /* escape-glyph */
  color: #a52a2a;
}
.org-file-name-shadow {
  /* file-name-shadow */
  color: #7f7f7f;
}
.org-fixed-pitch {
}
.org-fringe {
  /* fringe */
  background-color: #f2f2f2;
}
.org-function-name {
  /* font-lock-function-name-face */
  color: #0000ff;
}
.org-header-line {
  /* header-line */
  color: #333333;
  background-color: #e5e5e5;
}
.org-help-argument-name {
  /* help-argument-name */
  font-style: italic;
}
.org-highlight {
  /* highlight */
  background-color: #b4eeb4;
}
.org-holiday {
  /* holiday */
  background-color: #ffc0cb;
}
.org-info-header-node {
  /* info-header-node */
  color: #a52a2a;
  font-weight: bold;
  font-style: italic;
}
.org-info-header-xref {
  /* info-header-xref */
  color: #0000ff;
  text-decoration: underline;
}
.org-info-menu-header {
  /* info-menu-header */
  font-weight: bold;
}
.org-info-menu-star {
  /* info-menu-star */
  color: #ff0000;
}
.org-info-node {
  /* info-node */
  color: #a52a2a;
  font-weight: bold;
  font-style: italic;
}
.org-info-title-1 {
  /* info-title-1 */
  font-size: 172%;
  font-weight: bold;
}
.org-info-title-2 {
  /* info-title-2 */
  font-size: 144%;
  font-weight: bold;
}
.org-info-title-3 {
  /* info-title-3 */
  font-size: 120%;
  font-weight: bold;
}
.org-info-title-4 {
  /* info-title-4 */
  font-weight: bold;
}
.org-info-xref {
  /* info-xref */
  color: #0000ff;
  text-decoration: underline;
}
.org-isearch {
  /* isearch */
  color: #b0e2ff;
  background-color: #cd00cd;
}
.org-italic {
  /* italic */
  font-style: italic;
}

.org-keyword {
  /* font-lock-keyword-face */
  color: #a020f0;
}
.org-lazy-highlight {
  /* lazy-highlight */
  background-color: #afeeee;
}
.org-link {
  /* link */
  color: #0000ff;
  text-decoration: underline;
}
.org-link-visited {
  /* link-visited */
  color: #8b008b;
  text-decoration: underline;
}
.org-match {
  /* match */
  background-color: #ffff00;
}
.org-menu {
}
.org-message-cited-text {
  /* message-cited-text */
  color: #ff0000;
}
.org-message-header-cc {
  /* message-header-cc */
  color: #191970;
}
.org-message-header-name {
  /* message-header-name */
  color: #6495ed;
}
.org-message-header-newsgroups {
  /* message-header-newsgroups */
  color: #00008b;
  font-weight: bold;
  font-style: italic;
}
.org-message-header-other {
  /* message-header-other */
  color: #4682b4;
}
.org-message-header-subject {
  /* message-header-subject */
  color: #000080;
  font-weight: bold;
}
.org-message-header-to {
  /* message-header-to */
  color: #191970;
  font-weight: bold;
}
.org-message-header-xheader {
  /* message-header-xheader */
  color: #0000ff;
}
.org-message-mml {
  /* message-mml */
  color: #228b22;
}
.org-message-separator {
  /* message-separator */
  color: #a52a2a;
}
.org-minibuffer-prompt {
  /* minibuffer-prompt */
  color: #0000cd;
}
.org-mm-uu-extract {
  /* mm-uu-extract */
  color: #006400;
  background-color: #ffffe0;
}
.org-mode-line {
  /* mode-line */
  color: #000000;
  background-color: #bfbfbf;
}
.org-mode-line-buffer-id {
  /* mode-line-buffer-id */
  font-weight: bold;
}
.org-mode-line-highlight {
}
.org-mode-line-inactive {
  /* mode-line-inactive */
  color: #333333;
  background-color: #e5e5e5;
}
.org-mouse {
  /* mouse */
  background-color: #000000;
}
.org-negation-char {
}
.org-next-error {
  /* next-error */
  background-color: #eedc82;
}
.org-nobreak-space {
  /* nobreak-space */
  color: #a52a2a;
  text-decoration: underline;
}
.org-org-agenda-date {
  /* org-agenda-date */
  color: #0000ff;
}
.org-org-agenda-date-weekend {
  /* org-agenda-date-weekend */
  color: #0000ff;
  font-weight: bold;
}
.org-org-agenda-restriction-lock {
  /* org-agenda-restriction-lock */
  background-color: #ffff00;
}
.org-org-agenda-structure {
  /* org-agenda-structure */
  color: #0000ff;
}
.org-org-archived {
  /* org-archived */
  color: #7f7f7f;
}
.org-org-code {
  /* org-code */
  color: #7f7f7f;
}
.org-org-column {
  /* org-column */
  background-color: #e5e5e5;
}
.org-org-column-title {
  /* org-column-title */
  background-color: #e5e5e5;
  font-weight: bold;
  text-decoration: underline;
}
.org-org-date {
  /* org-date */
  color: #a020f0;
  text-decoration: underline;
}
.org-org-done {
  /* org-done */
  color: #228b22;
  font-weight: bold;
}
.org-org-drawer {
  /* org-drawer */
  color: #0000ff;
}
.org-org-ellipsis {
  /* org-ellipsis */
  color: #b8860b;
  text-decoration: underline;
}
.org-org-formula {
  /* org-formula */
  color: #b22222;
}
.org-org-headline-done {
  /* org-headline-done */
  color: #bc8f8f;
}
.org-org-hide {
  /* org-hide */
  color: #e5e5e5;
}
.org-org-latex-and-export-specials {
  /* org-latex-and-export-specials */
  color: #8b4513;
}
.org-org-level-1 {
  /* org-level-1 */
  color: #0000ff;
}
.org-org-level-2 {
  /* org-level-2 */
  color: #b8860b;
}
.org-org-level-3 {
  /* org-level-3 */
  color: #a020f0;
}
.org-org-level-4 {
  /* org-level-4 */
  color: #b22222;
}
.org-org-level-5 {
  /* org-level-5 */
  color: #228b22;
}
.org-org-level-6 {
  /* org-level-6 */
  color: #5f9ea0;
}
.org-org-level-7 {
  /* org-level-7 */
  color: #da70d6;
}
.org-org-level-8 {
  /* org-level-8 */
  color: #bc8f8f;
}
.org-org-link {
  /* org-link */
  color: #a020f0;
  text-decoration: underline;
}
.org-org-property-value {
}
.org-org-scheduled-previously {
  /* org-scheduled-previously */
  color: #b22222;
}
.org-org-scheduled-today {
  /* org-scheduled-today */
  color: #006400;
}
.org-org-sexp-date {
  /* org-sexp-date */
  color: #a020f0;
}
.org-org-special-keyword {
  /* org-special-keyword */
  color: #bc8f8f;
}
.org-org-table {
  /* org-table */
  color: #0000ff;
}
.org-org-tag {
  /* org-tag */
  font-weight: bold;
}
.org-org-target {
  /* org-target */
  text-decoration: underline;
}
.org-org-time-grid {
  /* org-time-grid */
  color: #b8860b;
}
.org-org-todo {
  /* org-todo */
  color: #ff0000;
}
.org-org-upcoming-deadline {
  /* org-upcoming-deadline */
  color: #b22222;
}
.org-org-verbatim {
  /* org-verbatim */
  color: #7f7f7f;
  text-decoration: underline;
}
.org-org-warning {
  /* org-warning */
  color: #ff0000;
  font-weight: bold;
}
.org-outline-1 {
  /* outline-1 */
  color: #0000ff;
}
.org-outline-2 {
  /* outline-2 */
  color: #b8860b;
}
.org-outline-3 {
  /* outline-3 */
  color: #a020f0;
}
.org-outline-4 {
  /* outline-4 */
  color: #b22222;
}
.org-outline-5 {
  /* outline-5 */
  color: #228b22;
}
.org-outline-6 {
  /* outline-6 */
  color: #5f9ea0;
}
.org-outline-7 {
  /* outline-7 */
  color: #da70d6;
}
.org-outline-8 {
  /* outline-8 */
  color: #bc8f8f;
}
.outline-text-1, .outline-text-2, .outline-text-3, .outline-text-4, .outline-text-5, .outline-text-6 {
  /* Add more spacing between section. Padding, so that folding with org-info.js works as expected. */

}

.org-preprocessor {
  /* font-lock-preprocessor-face */
  color: #da70d6;
}
.org-query-replace {
  /* query-replace */
  color: #b0e2ff;
  background-color: #cd00cd;
}
.org-regexp-grouping-backslash {
  /* font-lock-regexp-grouping-backslash */
  font-weight: bold;
}
.org-regexp-grouping-construct {
  /* font-lock-regexp-grouping-construct */
  font-weight: bold;
}
.org-region {
  /* region */
  background-color: #eedc82;
}
.org-rmail-highlight {
}
.org-scroll-bar {
  /* scroll-bar */
  background-color: #bfbfbf;
}
.org-secondary-selection {
  /* secondary-selection */
  background-color: #ffff00;
}
.org-shadow {
  /* shadow */
  color: #7f7f7f;
}
.org-show-paren-match {
  /* show-paren-match */
  background-color: #40e0d0;
}
.org-show-paren-mismatch {
  /* show-paren-mismatch */
  color: #ffffff;
  background-color: #a020f0;
}
.org-string {
  /* font-lock-string-face */
  color: #bc8f8f;
}
.org-texinfo-heading {
  /* texinfo-heading */
  color: #0000ff;
}
.org-tool-bar {
  /* tool-bar */
  color: #000000;
  background-color: #bfbfbf;
}
.org-tooltip {
  /* tooltip */
  color: #000000;
  background-color: #ffffe0;
}
.org-trailing-whitespace {
  /* trailing-whitespace */
  background-color: #ff0000;
}
.org-type {
  /* font-lock-type-face */
  color: #228b22;
}
.org-underline {
  /* underline */
  text-decoration: underline;
}
.org-variable-name {
  /* font-lock-variable-name-face */
  color: #b8860b;
}
.org-variable-pitch {
}
.org-vertical-border {
}
.org-warning {
  /* font-lock-warning-face */
  color: #ff0000;
  font-weight: bold;
}


label.org-src-name {
  font-size: 80%;
  font-style: italic;
}
