/* Override some defaults */
html, body {
    background-color: #eee;
}
body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
        background-color: white;
	color: #555555;
	font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,"Microsoft YaHei", serif,"Times New Roman", Times, "Microsoft YaHei", serif;
	font-size: 14px;
	line-height: 1.5
}
.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    /*width: 75em; */ /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
    padding-left: 10em
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
	margin-left: 1px;
	padding-top: 2px;
    -moz-box-shadow: 0 0 10px 10px #b9bcbf;
    -o-box-shadow: 0 0 10px 10px #b9bcbf;
    -webkit-box-shadow: 0 0 10px 10px #b9bcbf;
    border-left: .2em solid #b9bcbf;
    border-right: .2em solid #b9bcbf;
    box-shadow: 0 0 10px 10px #b9bcbf;
    margin: auto;
    /*max-width: 74.92em;*/
    padding: 0 1.5% 1em 1.5%; margin-top: 0;
    text-align: left;
}

.span10 {
    width:88%;
}

#list_sidebar {
    float:right;
    width:180px;
}
/* add by Linusp */
/* .span10 p {text-indent: 2em;} */
/* .span10 li {margin-left: 2em;} */
/* .span10 li p{text-indent: 0;} */

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}



/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* Added by Tyang*/

/*************************************
 Sidebar
*************************************/
#sidebar{
	float: left;
	padding: 40px;
	padding-top: 0;
	width: 12%;
	font-size: 11px;
    overflow: hidden;
    color: #4b4b4b;
    text-shadow: #fff 0 1px;
}

.sidebar li a{
    color:#999;
}

#sidebar h2 {
    color: #555555;
    font-size: 15px;
    background-color:#eee;
    margin-top: 1.5em;
    margin-bottom: 5px
}
#sidebar ul{ margin: 0; padding: 0; list-style-type: none }

#sidebar ul li{
	border-bottom: 1px dotted #DDDDDD;
	margin-bottom: 0.3em;
	padding: 0.3em
}

#search_form #s{
    width:90%;
}
img.feed{
    margin-bottom:-1px;
}
img.trackbacks{
    margin-bottom:-3px;
}

input, textarea, select {
    font-size: small;
    margin: 5px 0px 0px 0px;
}
input:hover{color:#000;}
input:focus, textarea:focus {
             }

/*************************************
 Article
*************************************/
#article_header {
    color: #777;
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

#article_header h1 {
margin-bottom: 8px;
background-color: rgba(255, 255, 255, 0.5);
}

#article_header img {
    border: 0px;
    margin-bottom: -3px;
    margin-right: 2px;
}

#article_body {
    font-size: 16px;
    line-height:20px;
    padding-bottom:35px;
    text-align: justify;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

/*************************************
 Content
*************************************/
#content {
	float: left;
	margin-left: 1px;
	padding-top: 2px;
	padding: 40px;
	width: 70%; /*	border: 1px solid black;*/
    -icab-box-shadow: 0 0 10px 10px #b9bcbf;
    -moz-box-shadow: 0 0 10px 10px #b9bcbf;
    -o-box-shadow: 0 0 10px 10px #b9bcbf;
    -webkit-box-shadow: 0 0 10px 10px #b9bcbf;
    background-color: white;
    border-left: .2em solid #b9bcbf;
    border-right: .2em solid #b9bcbf;
    box-shadow: 0 0 10px 10px #b9bcbf;
    margin: auto;
    max-width: 74.92em;
    padding: 0 1.5% 1em 1.5%; margin-top: 0;
    text-align: left;
}

#content h1 {
    font-weight:bold;
    padding: 0; margin: .7em 0 .9em 0;
    color: #334683; text-shadow: #999 1px 1px 0;
    font-size: 1.6em;
}

/*************************************
Category
*************************************/

#category {
    text-align: left;
}
#category li {
    font-size: 12px;
    line-height: 20px;
}


#category a {
    color: #4b4b4b;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
    padding: 3px 6px;
	margin: 2px;
}

#category a span {
vertical-align: super;
font-size: 0.8em;
}

.topbar .btn {
    border: 0;

}

.topbar{
    /* background: url(/assets/img/header.jpg) repeat; */
    background: #333;
    border-color: #470101;
    color: #FFF;
    font-family: "FreeSans", sans-"Microsoft YaHei", serif;
    font-size: 1.3em;
    font-weight: bold;
    /* height: 94.78125px; */
    margin-bottom: 4px;
    margin: 0 0 0 0;
    /* padding-bottom: 1.5em; */
    padding-left: 55px;
    padding-right: 55px
    padding-top: 1.5em;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    zoom:1;
}




/*************************************
 +Hn and p
*************************************/

h3 {font-size:18px;border: none }
h3 small{font-size:14px;}
#sidebar h2{ margin-bottom: 5px; color: #555555; font-size: 15px }

*:not(pre)>code{
    border: 1px solid #ddd;
    color: #c03;
    background-color: #f8f8f8;
    border-radius: 3px;
    white-space: normal;/*overcome bootstrap nowrap*/
    padding: 3px 4px 0px 4px;/*overcome bootstrap padding*/
}

#footer{
	float: right;
	clear: both;
	padding-right: 70px;
	padding-bottom: 5px;
	color: #888888;
	font-size: 9px;
	text-align: center
}
