<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/stylesheet.css" />
  </head>
  <body>
    <div id="container">

      <nav class="navbar navbar-expand-md navbar-light">


        <span class="navbar-brand mb-0 h1"></span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation" name="button">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto text-center">
            <a class="nav-item nav-link" href="/">首页</a>
            <a class="nav-item nav-link" href="/categories/">分类</a>
            <a class="nav-item nav-link" href="/tags/">标签</a>
            <a class="nav-item nav-link" href="/archive/">归档</a>
            <a class="nav-item nav-link" href="/about">关于</a>
          </div>
        </div>
      </nav>

      <div id="content">
        <header>
          <h1>{{ page.title }}</h1>
        </header>

        {{ content }}
      </div>

    </div>

    {%- include footer.html -%}

  </body>
</html>
